.App {
  text-align: center;
}
.BlogCard{
  margin: 16px;
  padding: 16px;
  box-sizing: border-box;
  box-shadow: 0 2px 5px #ccc;
  border-radius: 5px;
  background-color:lightblue;
  font-size: 24px;
}

.button{
  margin-top: 5px;
  padding:5px;
  box-shadow: 0 2px 5px #ccc;
  font-weight:bold;
}